<div class="header">
  <button mat-button (click)="navOpen()"><i class="material-icons"> menu </i></button>
  <div class="logo" [routerLink]="['/']">
    <img src="https://9-base.com/assets/images/9baselogo.png" alt="" />
  </div>
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu">
      <i class="material-icons"> apps </i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button>
      <i
        class="material-icons"
        matBadge="8"
        matBadgePosition="before"
        matBadgeColor="accent"
      >
        notifications
      </i>
    </button>

    <button mat-button [matMenuTriggerFor]="menu1">
      <i class="material-icons"> account_circle </i>
    </button>

    <mat-menu #menu1="matMenu">
      <button mat-menu-item *ngIf="auth.isLog">
        {{ auth?.user?.displayName }}
      </button>
      <button mat-menu-item *ngIf="auth?.isLog" (click)="auth.signOut()">
        Sign out
      </button>
    </mat-menu>
  </div>
</div>
