<div class="task-content">
    <div class="task-item ani-col" [routerLink]="['client-register']">
        <div class="task-icon task-icon1 ic_1">
            <i class="material-icons">person_add</i>
        </div>
        <h2 class="task-title">New Client</h2>
    </div>
    <div class="task-item ani-col" [routerLink]="['']">
        <div class="task-icon task-icon1 ic_2">
            <i class="material-icons">local_atm</i>
        </div>
        <h2 class="task-title">purchese order</h2>
    </div>
    <div class="task-item ani-col" [routerLink]="['']">

        <div class="task-icon task-icon1 ic_3">
            <i class="material-icons">layers</i>
        </div>
        <h2 class="task-title">project</h2>
    </div>
