@import"variable.scss";
@import"sign-in.scss";
@import"header.scss";
@import"client-reigister.scss";
@import'condo.scss';
@import'home.scss';

.container-fluid{
  width:100%;
  display: flex;
}
.container{
width: 90%;
}
body{
  font-family: 'Roboto', sans-serif;
}

.clientcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: #f2f2f2;
  height: calc(100vh - 72px);
  h1 {
      margin-bottom: 25px;
  }
}
.row{
  display: flex;
}
.content{
  display: flex;
  height: calc(100vh - 72px);
  width: 100%;
  justify-content: center;
  align-items: center;
}