mat-horizontal-stepper {
    padding: 25px;
    mat-form-field {
        padding: 8px;
        
    }
    .row{
        mat-form-field{
            width: 250px;
        }
        button{
            margin:8px;
        }
    }
}